* {
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
}


/* Primary Header */

header {
    
}


/* Body */




/* Entire Content */
.entire-content {
    width: 960px;
    margin: auto;
}



/* Portfolio Image */



/* Clear float */



.primary-footer {
    text-align: center;
}



/* Make sure to add ALL classes */